@page "/edit-article/{Id:int}"
@using BloggerLibrary
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h3>Edit Article</h3>

@if (article == null)
{
    <p>Loading...</p>
}
else if (article.Author != currentUserName)
{
    <p>You are not authorized to edit this article.</p>
}
else
{
    <EditForm Model="@article" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Title</label>
            <InputText class="form-control" @bind-Value="article.Title" />
        </div>

        <div class="form-group">
            <label>Content</label>
            <InputTextArea class="form-control" @bind-Value="article.Content" />
        </div>

        <div class="form-group">
            <label>Start Date</label>
            <InputDate class="form-control" @bind-Value="article.StartDate" />
        </div>

        <div class="form-group">
            <label>End Date</label>
            <InputDate class="form-control" @bind-Value="article.EndDate" />
        </div>

        <div class="form-group">
            <label>Publish</label>
            <InputCheckbox @bind-Value="article.IsPublished" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" @onclick="HandleDelete">Delete</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private BloggerLibrary.Article? article;
    private string? currentUserName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        currentUserName = user.Identity?.Name;

        using var dbContext = DbContextFactory.CreateDbContext();
        article = await dbContext.Articles.FindAsync(Id);
    }

    private async Task HandleSubmit()
    {
        if (article != null)
        {
            using var dbContext = DbContextFactory.CreateDbContext();
            dbContext.Articles.Update(article);
            await dbContext.SaveChangesAsync();
            Navigation.NavigateTo("/articles");
        }
    }

    private async Task HandleDelete()
    {
        if (article != null)
        {
            using var dbContext = DbContextFactory.CreateDbContext();
            dbContext.Articles.Remove(article);
            await dbContext.SaveChangesAsync();
            Navigation.NavigateTo("/articles");
        }
    }
}